body{
    background-color: rgb(39, 39, 39);
    font: normal 15pt Arial;
}
header{
    color: antiquewhite;
    text-align: center;
}
section{
    color: rgb(39, 39, 39);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}
div {
    text-align: center;
    padding: 8px;
}
footer{
    color: antiquewhite;
    text-align: center;
    font-style: italic;
}
input.botoes{
    width: 70px;
    padding: 10px;
}
button.botoes{
    width: 70px;
    padding: 10px;
}